<div class="cardSingup">
  <h2>Vamos iniciar seu cadastro?<br> Digite seus dados:</h2>
  <div class="containerSingup">
    <form [formGroup]="form">
      <label for="name">Name:</label>
      <input formControlName="name" class="form-control form-control-lg" type="text" placeholder="Seu nome">
      <label for="surname">Sobrenome:</label>
      <input formControlName="surname" class="form-control form-control-lg" type="text" placeholder="Seu Sobrenome">
      <label for='email'>Email:</label>
      <input formControlName="email" class="form-control form-control-lg" type="email" placeholder="Seu email">
      <label for="password">Senha:</label>
      <input formControlName="password" class="form-control form-control-lg" type="password" id="password" placeholder="Sua senha">
      <label for="password2">Digite sua senha novamente:</label>
      <input class="form-control form-control-lg" type="password" id="password2"
        placeholder="Digite sua senha novamente">
      <button type="submit" class="btn btn-primary btn-lg" routerLink="/home/login" (click)="setUser()">Cadastrar</button>
    </form>
  </div>
</div>
