<div class="cardLogin">
  <div class="login">
    <h1>Entrar</h1>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <label for='email'>Email:</label>
      <input formControlName="username" class="form-control form-control-lg" type="email" placeholder="Seu email" >
      <label for='Senha'>Email:</label>
      <input formControlName="password" class="form-control form-control-lg" type="password" placeholder="Sua senha" >
      <a routerLink="/home/recuperar">Esqueci a senha</a><br>
      <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
    </form>

  </div>
</div>

