div{
    color: white;
}

.container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.1;
}

.subform{
    padding: 10px;
    margin: 10px;
    display: flex;
    
    align-items: center;
}

h1, h3, h6{
    padding: 5px;
}
button{
    border: none;
    padding: 10px;
    background-color: #e50914;;
    color: white;
    width: 100px;
    font-weight: 400;
    vertical-align: middle;
    letter-spacing: .1px;
    cursor: pointer;
    border-radius: 2px;
}

input{
    border-radius: 2px;
    padding: 10px;
    appearance: none;
    border: none;
}