.main{

  background-image:
  linear-gradient(to top,rgba(0, 0, 0, 0.925) 0,rgba(0, 0, 0, 0.884) 40%,rgba(0, 0, 0, 0.849) 75%,rgba(17, 17, 17, 0.932) 100%),
  url('../../../../../assets/images/bg.jpg');
  background-size: 100% ;
  background-size: cover;
}
