<div class="main">
    <div class="addLinear">
        <nav class="navbarContainer">
            <div class="container">
                <a class="navbar-brand">
                    <img src="../../../../../assets/images/netflix_logo.png" alt="" width="150" height="50">
                </a>
                <button class="btn btn-primary btn-lg" routerLink="/home/login">Entrar</button>
            </div>
        </nav>
        <div class="d-flex justify-content-center">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
